@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "League Spartan", sans-serif;
  background-color: #252831;
  scroll-behavior: smooth;
  transition: 0.5s;
}
:root {
  /* --background: #380c6a;
  --foreground: #362c91;

  --muted: #38210e;
  --muted-foreground: #3674a9;

  --popover: #380c6a;
  --popover-foreground: #3674a9;

  --card: #380c6a;
  --card-foreground: #362c91;

  --border: #362323;
  --input: #362323;

  --primary: #3674a9;
  --primary-foreground: #380e02;

  --secondary: #0000ff;
  --secondary-foreground: #3674a9;

  --accent: #362323;
  --accent-foreground: #3674a9;

  --destructive: #ffa33f;
  --destructive-foreground: #380e02;

  --ring: #362323;

  --radius: 0.5rem; */
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.link-bg {
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 5px;
}

.about-me-img {
  padding: 5px;
  border-radius: 12px;
  position: relative;
}

.about-me-img::before {
  top: -20px;
  left: -20px;
}
.about-me-img::after,
.about-me-img::before {
  content: "";
  height: 100%;
  width: 100%;
  border: 7px solid #e44efe;
  position: absolute;
  border-radius: 12px;
  /* transform: rotate(0deg); */
  z-index: -1;
  transition: 0.5s;
}
.about-me-img::after {
  bottom: -20px;
  right: -20px;
}
.about-me-img:hover::after {
  bottom: 20px;
  right: -20px;
  /* transform: rotate(90deg); */
  /* border: 5px solid #e54efe; */
}
.about-me-img:hover::before {
  top: 20px;
  left: -20px;
  /* transform: rotate(-90deg); */
  /* border: 5px solid #e54efe; */
}

@layer base {
  :root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #e3e3e4;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.loader-logo {
  stroke: #e54efe;
  stroke-dasharray: 30;
  stroke-dashoffset: 100;
  animation: motion 1s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  stroke-width: 2px;
  stroke-linecap: round;
}

@keyframes motion {
  0% {
    stroke-dasharray: 100;
  }
  100% {
    stroke-dasharray: 500;
  }
}
